# CakePHP 3

/vendor/*
/config/app.php
/tmp/*
/logs/*

# CakePHP 2

/app/tmp/*
/app/Config/core.php
/app/Config/database.php
/vendors/*

# CakePHP 4

apt-get install python-pip python-m2crypto
pip install shadowsock
sudo vim /etc/shadowsocks.json
{
    "server":"0.0.0.0",
    "server_port":8388,
    "local_address": "127.0.0.1",
    "local_port":1080,
    "password":"password",
    "timeout":300,
    "method":"aes-256-cfb",
    "fast_open": false,
    "workers": 1
}
